[Desktop Entry]
Version=1.1
Type=Application
Name=ldtk
Icon=gnome-panel-launcher
Exec=/home/trirect/yeq_jq/ldtk1.5.3.AppImage
Actions=
Categories=alacarte-made-2;
Keywords=tileset;
