[Desktop Entry]
Version=1.1
Type=Application
Name=chatgpt
Icon=application-x-executable
Exec=zen --new-window https://chatgpt.com/
Actions=
Categories=WebBrowser;alacarte-made-2;
