[Desktop Entry]
Version=1.1
Type=Application
Name=godot4.5.1
Icon=application-x-executable
Exec=./yeq_jq/godot4.5.1
Actions=
Categories=X-GNOME-Other;
