[Desktop Entry]
Name=Momodora: Reverie Under the Moonlight
Comment=Play this game on Steam
Exec=steam steam://rungameid/428550
Icon=steam_icon_428550
Terminal=false
Type=Application
Categories=Game;
