[Desktop Entry]
Version=1.1
Type=Application
Name=wvf js
GenericName=微信
Icon=gnome-panel-launcher
Exec=wechat
Actions=
Categories=X-Gnome-Other;alacarte-made;
Keywords=wvf js;
